<?xml version="1.0"?>
<launch>
	<!-- XML derived from the Learning ROS by Martinez -->
	<!-- Launch with model:="'rospack find PKG_NAME'/robot/xacro/loc" -->
	<param name="/use_sim_time" value="true" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find beginner_tutorials)/urdf/robot.xacro'" />	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find beginner_tutorials)/world/basic.world"/>
	</include>
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" output="screen"/>
	<include file="$(find beginner_tutorials)/launch/robot_control.launch" />
</launch>

