<launch>

	<node name="motor_test" pkg="igvc" type="motor_commander.py"/>

    <!-- takes data from joy node and converst to motor effort -->
    <node pkg="igvc" name="igvc" type="xbox_drive.py" />


		<node name="joy" pkg="joy" type="joy_node" >
			<!-- ***set param here based upon what sudo xboxdrv assigns it to
		 			 ***If still doesn't work, manually set the parameter using:
						rosparam set joy_node/dev "/dev/input/js1"
			-->
			<!--  -->
			<param name="dev"  type="string" value="/dev/input/js1" />
		</node>

</launch>
