<launch>
  <!-- This should be the same as used with openni_launch -->

  <group ns="stereo">

    <node name="right" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="mjpeg" />
      <param name="camera_frame_id" value="right" />
      <param name="io_method" value="mmap"/>
      <param name="camera_name" value="right" />
      <param name="do_rectify" value="true" />
    </node>

    <node name="left" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video1" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="mjpeg" />
      <param name="camera_frame_id" value="left" />
      <param name="io_method" value="mmap"/>
      <param name="camera_name" value="left" />
      <param name="do_rectify" value="true" />+--+


    </node>  

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="approximate_sync" value="true" />
      <param name="queue_size" value="100" />
    </node>

    </group>

    <node pkg="fovis_ros" type="fovis_stereo_odometer" name="stereo_odometer" >
        <remap from="stereo/left/image" to="stereo/left/image_rect_color" />
        <remap from="stereo/right/image" to="stereo/right/image_rect_color" />
    </node>

    <node pkg="image_view" type="stereo_view" name="stereo_view">\
      <param name="approximate_sync" value="true" />
      <remap from="stereo" to="stereo" />
      <remap from="image" to="image_rect_color" />
      <param name="queue" value="100" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_to_stereo_tf"  args="0 1 0 0 0 0 /base_link /stereo 50" respawn="true" />

</launch>